.navbar-brand{
  font-size: 2.5rem;
  font-family: "Ubuntu";
  font-weight: bold;
}
.container-fluid{
  padding:3% 15%;
  padding-bottom: 200px;
}
.navbar{
  padding-bottom: 4.5rem;
}
h2{
  font-family: "Montserrat";
  font: bold;
  font-size: 2.5rem;
  line-height: 1.5;
}
.image-testemonial{
width: 10%;
border-radius: 100%;
margin: 20px;
}
.press-image{
  width: 15%;
  margin: 20px 20px 50px;
}
#Pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding:3% 2%;
}
#title{
  background-color: #ff4c68;
  color:#fff;

}

h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}


.iphone-6{
transform: rotate(25deg);
 position: absolute;
 width:25%;

}


.nav-link{
  font-size: larger;
  margin-right: 10px;
}
#Features{
  padding: 7% 15%;
  background-color: #fff;

  position: relative;


}
.feature-box{
padding: 4.5%;
text-align: center;
}
h3{
font-family: 'Montserrat', sans-serif;
font-weight: bold;
}
p{
color: grey;
}
.fa-solid{
padding-bottom: 10px;
color: #ef8172;
cursor: pointer;
}
.fa-solid:hover{
  color:#ff4c68;
}
#Testemonials{

  text-align: center;
  background-color: #ff4c68;
  color: white;
}
#Press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom:3%;

}
.carousel-item{
  padding:7% 15%;
}
.download-btn{
  padding: 1% 2%;
  margin: 7% 2%;
}
#cta{
  background-color: #ff4c68;
  padding: 7% 15%;
  color: #fff;
  text-align: center ;
}
.cta-heading{
  font-family: "Montserrat";
  font-size: 3rem;
  line-height: 1.5;
}
.download-btn-cta{
  margin: 3% 2%;
}
#footer{
  padding: 7% 15%;
  text-align: center;
}
.icon-footer{
  color: #000;
  margin: 20px 10px;
}
@media(max-width:991px){
  .iphone-6{
    position: static;
    width: 50%;
    transform: rotate(0deg);
  }
  #title{
    text-align: center;

  }
  h1{
    font-size: 2rem;
  }
  h2{
    font-size: 2rem;
  }
  .cta-heading{
    font-size: 2rem;
  }
  .container-fluid{
    padding:1% 6%;
    padding-bottom: 50px;
  }
  #Pricing{
    padding: 40px;
  }
  #cta{
    padding:3% 5%;
  }
  #footer{
    padding:3% 5%;
  }
  #features{
    padding:3% 5%;
  }
  #press{
    padding-bottom: 1%;
  }

}
@media(max-width:767px){
  .container-fluid{
    padding:0.75% 3.75%;
    padding-bottom: 25px;
  }
  #Pricing{
    padding: 25px;
  }
  #cta{
    padding:1.75% 3.75%;
  }
  #footer{
    padding:1.75% 3.75%;
  }
  #features{
    padding:1.75% 3.75%;
  }
  #press{
    padding-bottom: 0.75%;
  }


}
